[submodule ".tmux-themepack"]
	path = .tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule ".tmux-plugins/tmux-yank"]
	path = .tmux-plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/dist/start/rust.vim"]
	path = .vim/pack/dist/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".i3/i3-volume"]
	path = .i3/i3-volume
	url = https://github.com/hastinbe/i3-volume.git
