#!{{ default "/bin/bash" (index . "bash") }}

# Android needs a different bootup script
{{ if eq .chezmoi.os "android" }}

set -euo pipefail

# pkg
pkg install -y \
{{- range .packages.android }}
  {{ . | quote }} \
{{- end }}
;

{{- end -}}

