{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{ $id := lower .chezmoi.osRelease.id }}
{{ if eq $id "debian" }}

# apt packages
set -euo pipefail
sudo apt-get update -y
sudo apt-get install -y \
{{- range .packages.linux.debian }}
  {{ . | quote }} \
{{- end }}
;
{{ end -}}
{{ end -}}
