#!{{ default "/bin/bash" (index . "bash") }}

set -u # Fail on undefined variable

# Common functions

function contains_string() {
  local search_string="$1"
  shift              # Shift past the first argument (the search string)
  local array=("$@") # The rest of the arguments are the array elements

  for element in "${array[@]}"; do
    if [[ "$element" == "$search_string" ]]; then
      return 0 # String found, return success
    fi
  done
  return 1 # String not found, return failure
}

# Function to read multiline command output into an array
function read_array_from_command() {
  local cmd="$1"
  local array=()
  while IFS= read -r line; do
    array+=("$line")
  done < <(eval "$cmd")
  echo "${array[@]}" # Return the array as a space-separated string
}

{{ if eq .chezmoi.os "linux" -}}

# Function to detect Linux distribution
function detect_linux_distro() {
  if [[ -f /etc/os-release ]]; then
    source /etc/os-release
    echo "$ID"
  elif [[ -d "/data/data/com.termux/files/usr" ]] || [[ -n "$TERMUX_VERSION" ]]; then
    echo "android"
  else
    echo "unknown"
  fi
}

function install_android_packages() {
  PACKAGES="cadaver direnv fastfetch git clang gettext htop make most openssl-tool python-pip neovim tmux uv"

  INSTALLED=($(read_array_from_command "pkg list-installed | grep -v automatic | sed 's|/.*||'"))

  for pkg in $PACKAGES; do
    if ! contains_string "$pkg" "${INSTALLED[@]}"; then
      pkg install -y $pkg
    fi
  done

}

function install_fedora_packages() {
  PACKAGES="btop cadaver dejavu-fonts-all fastfetch lftp git gnome-shell-extension-light-style htop python3-virtualenvwrapper neovim most"

  INSTALLED=($(read_array_from_command "rpm -qa --qf '%{NAME}\n' | sort"))

  for pkg in $PACKAGES; do
    if ! contains_string "$pkg" "${INSTALLED[@]}"; then
      sudo dnf install -y $pkg
    fi
  done

}

# Install packages
distro=$(detect_linux_distro)
case "$distro" in
debian | ubuntu)
  echo TODO
  ;;
fedora)
  install_fedora_packages
  ;;
android)
  install_android_packages
  ;;
*)
  echo "Unsupported Linux distribution: $distro"
  exit 1
  ;;
esac

{{ else if eq .chezmoi.os "darwin" -}}

# Define taps to be added
# This is the cask for browserpass
taps="amar1729/formulae"

# Define software to be installed
cli="cadaver cloudflare-wrangler direnv fastfetch fd ffmpeg fzf lftp htop httpie huggingface-cli imagemagick iproute2mac k9s kubectl jq lazygit lima llm most nano neovim pass pinentry-mac pnpm pwgen ripgrep tmux vercel-cli virtualenvwrapper wezterm xdotool yq uv"
# node will provide npm with it
dev="boost cmake corretto drawio kind libevent node visual-studio-code"
fonts=($(read_array_from_command "brew search powerline | grep font | sort"))
sys="google-drive monitorcontrol"
misc="brave-browser browserpass calibre firefox joplin stats spotify zoom yubico-yubikey-manager"
casks="gimp iina music-decoy nightfall orbstack paintbrush pgadmin4 syncthing vlc xquartz"
# NOTE: I wanted to have steam as a cask but the cask is x86_64 only.

# Install Homebrew if absent
if ! command -v brew &>/dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Collect installed packages
installed=($(read_array_from_command "brew list"))
# Collect configured taps
configured_taps=($(read_array_from_command "brew tap"))

# Configure app taps
for tap in $taps; do
  if ! contains_string "$tap" "${configured_taps[@]}"; then
    brew tap $tap
  fi
done

# Install all Homebrew software
all="$cli $dev $fonts $sys $misc"
for pkg in $all; do
  if ! contains_string "$pkg" "${installed[@]}"; then
    brew install $pkg
  fi
done

# Install all Homebrew casks
for pkg in $casks; do
  if ! contains_string "$pkg" "${installed[@]}"; then
    brew install --cask $pkg
  fi
done

# browserpass setup
PREFIX='/opt/homebrew/opt/browserpass' make hosts-brave-user -f '/opt/homebrew/opt/browserpass/lib/browserpass/Makefile'
PREFIX='/opt/homebrew/opt/browserpass' make hosts-firefox-user -f '/opt/homebrew/opt/browserpass/lib/browserpass/Makefile'

# aws cli setup
AWS_DIR="$HOME/.aws"
if [[ ! -d "$AWS_DIR" ]]; then
  mkdir -p "$AWS_DIR"
  # Create the AWS helper script
  cat <<EOF >"$AWS_DIR/aws-pass-helper.sh"
#!/bin/bash
BASE_PATH=hosting/aws.amazon.com
AWS_PROFILE=\${AWS_PROFILE:-default}
ACCESS_KEY_ID=\$(pass \$BASE_PATH/\$AWS_PROFILE/access_key_id)
SECRET_ACCESS_KEY=\$(pass \$BASE_PATH/\$AWS_PROFILE/secret_access_key)

if [[ -z "\$ACCESS_KEY_ID" || -z "\$SECRET_ACCESS_KEY" ]]; then
  echo "Error: Missing AWS credentials for profile \$AWS_PROFILE" >&2
  exit 1
fi

cat <<JSON
{
  "Version": 1,
  "AccessKeyId": "\$ACCESS_KEY_ID",
  "SecretAccessKey": "\$SECRET_ACCESS_KEY"
}
JSON
EOF
  chmod +x "$AWS_DIR/aws-pass-helper.sh"

  # Configure AWS profiles
  cat <<EOF >"$AWS_DIR/config"
[profile blorgh/jeduardo]
region = eu-central-1
credential_process = $AWS_DIR/aws-pass-helper.sh
EOF
fi

# rustup install
if ! command -v cargo &>/dev/null; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

{{ end -}}

# Common setup across all platforms

TMUX_PLUGIN_DIR="$HOME/.tmux/plugins"
if [[ ! -d "$TMUX_PLUGIN_DIR" ]]; then
  mkdir -p "$TMUX_PLUGIN_DIR"
  git clone https://github.com/tmux-plugins/tpm "$TMUX_PLUGIN_DIR/tpm"
fi
