#!{{ default "/bin/bash" (index . "bash") }}
{{ if eq .chezmoi.os "android" }}
# Android needs a different bootup script
set -euo pipefail

# pkg
pkg install -y \
{{- range .packages.android }}
  {{ . | quote }} \
{{- end }}
;

{{- end -}}

