{{- if eq .chezmoi.os "linux" -}}
{{- $id := lower .chezmoi.osRelease.id -}}
{{- if eq $id "fedora" -}}
{{- $variant := lower (or .chezmoi.osRelease.variant "") -}}
#!/usr/bin/env bash

set -euo pipefail
# dnf packages
sudo dnf -y install \
{{- range .packages.linux.fedora.common }}
  {{ . | quote }} \
{{- end }}
{{- with (index .packages.linux.fedora $variant) }}
{{- range . }}
  {{ . | quote }} \
{{- end }}
{{- end }}
;

{{- end -}}
{{- end -}}

