#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" }}
{{- $id := lower .chezmoi.osRelease.id -}}
{{- $variant := lower (or .chezmoi.osRelease.variant "") -}}

{{- if eq $id "fedora" -}}

set -euo pipefail
# dnf packages
sudo dnf -y install \
{{- range .packages.linux.fedora.common }}
  {{ . | quote }} \
{{- end }}
{{- with (index .packages.linux.fedora $variant) }}
{{- range . }}
  {{ . | quote }} \
{{- end }}
{{- end }}
;

{{- end -}}
{{- end -}}

