#!{{ default "/bin/bash" (index . "bash") }}

{{ if eq .chezmoi.os "darwin" -}}
# browserpass setup
PREFIX='/opt/homebrew/opt/browserpass' make hosts-brave-user -f '/opt/homebrew/opt/browserpass/lib/browserpass/Makefile'
PREFIX='/opt/homebrew/opt/browserpass' make hosts-firefox-user -f '/opt/homebrew/opt/browserpass/lib/browserpass/Makefile'

# aws cli setup
AWS_DIR="$HOME/.aws"
if [[ ! -d "$AWS_DIR" ]]; then
  mkdir -p "$AWS_DIR"
  # Create the AWS helper script
  cat <<EOF >"$AWS_DIR/aws-pass-helper.sh"
#!/bin/bash
BASE_PATH=hosting/aws.amazon.com
AWS_PROFILE=\${AWS_PROFILE:-default}
ACCESS_KEY_ID=\$(pass \$BASE_PATH/\$AWS_PROFILE/access_key_id)
SECRET_ACCESS_KEY=\$(pass \$BASE_PATH/\$AWS_PROFILE/secret_access_key)

if [[ -z "\$ACCESS_KEY_ID" || -z "\$SECRET_ACCESS_KEY" ]]; then
  echo "Error: Missing AWS credentials for profile \$AWS_PROFILE" >&2
  exit 1
fi

cat <<JSON
{
  "Version": 1,
  "AccessKeyId": "\$ACCESS_KEY_ID",
  "SecretAccessKey": "\$SECRET_ACCESS_KEY"
}
JSON
EOF
  chmod +x "$AWS_DIR/aws-pass-helper.sh"

  # Configure AWS profiles
  cat <<EOF >"$AWS_DIR/config"
[profile blorgh/jeduardo]
region = eu-central-1
credential_process = $AWS_DIR/aws-pass-helper.sh
EOF
fi

# rustup install
if ! command -v cargo &>/dev/null; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

{{ end -}}

# Common setup across all platforms

TMUX_PLUGIN_DIR="$HOME/.tmux/plugins"
if [[ ! -d "$TMUX_PLUGIN_DIR" ]]; then
  mkdir -p "$TMUX_PLUGIN_DIR"
  git clone https://github.com/tmux-plugins/tpm "$TMUX_PLUGIN_DIR/tpm"
fi
